html {
    font-family: Calibri;
}

.custom-input {
    width: 250px;
    display: block;
    cursor: pointer;
    margin: 20px;
    border-radius: 5px;
    font-size: 18px;
    position: relative;
    color: #fff;
    background-color: #000;
    border-radius: 8px;
    padding: 10px;
    font-family: Calibri;
    font-weight: bold;
}

.custom-input::before {
    content: "เลือกไฟล์!";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.custom-input input {
    opacity: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

table {
    border-collapse: collapse;
}

td,
th {
    border: 1px solid #ddd;
    padding: 2px 5px;
    white-space: nowrap;
}

#Insert {
    background-color: #d11846;
    color: white;
}

#Reset {
    background-color: #ff9317;
    color: black;
}

.form-group {
    margin-bottom: 0px;
}

.txt-red {
    color: red;
}

.txt-orange {
    color: #ee8504;
}

/*@media all and (min-width:1200px)*/

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
    max-width: 1720px;
}

.container {
    margin-top: 100px;
}
div#wrapper {
    margin-top: 25px;
}

#myProgress {
    width: 500px;
    background-color: #ddd;
    text-align: center;
    position: absolute;
    margin-left: 115px;
    margin-top: -27px;
}

#myBar {
    width: 0%;
    height: 25px;
    background-color: #4CAF50;
    text-align: center;
}

#Percent {
    position: absolute;
    margin-left: 636px;
    margin-top: -28px;
    color: red;
    font-weight: bold;
}

td,
th {
    border: 1px solid #ddd;
    padding: 1px 5px;
}

.btn-edit {
    background-color: transparent;
    border: none;
    color: #d11846;
}

.btn-save {
    background-color: transparent;
    border: none;
    color: #047900;
    display: none;
}

.btn-cancel {
    background-color: transparent;
    border: none;
    color: #b44200;
    display: none;
}

#tbDataAgent input[type=text] {
    border: 1px solid #ddd;
}